<?xml version="1.0"?>
<configuration>
	<startup>
	</startup>
	<appSettings>
		<add key="Logging" value="off"/>
		<add key="StartUpSCPLog" value="off"/>
		<add key="EnableHTTPSys" value="false"/>
		<add key="ServiceUrl" value="http://localhost:50001/SCPWebService/"/>
		<add key="InstancesRoot" value="I2SCPInstances"/>
		<add key="FewModelsReturnsAt" value="upstream_flow_plans;downstream_flow_plans;consuming_flow_plans;producing_flow_plans;flow_plans;all_consuming_flow_plans;consuming_flow_plans"/>
		<add key="Virtual" value="/;%HOMEDRIVE%\\inetpub\\wwwroot"/>
		<add key="Virtual" value="/Root;%TMP%"/>
	</appSettings>
</configuration>
