<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
			<setting name="InstanceName" serializeAs="String">
				<value>NASA</value>
			</setting>
			<setting name="UserName" serializeAs="String">
				<value></value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>i2</value>
			</setting>
			<setting name="ServiceUrl" serializeAs="String">
				<value>http://localhost:50001/SCPWebService/</value>
			</setting>

	</appSettings>
</configuration>
